@import "tailwindcss";

@font-face {
  font-family: "inter";
  src: url("./fonts/Inter_18pt-Medium.ttf");
}

@font-face {
  font-family: "open";
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "dmSans";
  src: url("./fonts/DMSans-Medium.ttf");
}

@font-face {
  font-family: "exo";
  src: url("./fonts/Exo-Medium.ttf");
}

@font-face {
  font-family: "outfit";
  src: url("./fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: "outfitRich";
  src: url("./fonts/Outfit-Medium.ttf");
}

@font-face {
  font-family: "jsl";
  src: url("./fonts/PlusJakartaSans-Light.ttf");
}

@font-face {
  font-family: "jsans";
  src: url("./fonts/PlusJakartaSans-Medium.ttf");
}

@utility flex-start {
  @apply flex items-center justify-start;
};

@utility flex-center {
  @apply flex items-center justify-center
};

@utility flex-end {
  @apply flex items-center justify-end
};

@utility flex-between {
  @apply flex items-center justify-between
};

@utility flex-around {
  @apply flex items-center justify-around
};

@utility btn-primary {
  @apply bg-primary py-1 px-3 border-1 border-primary text-white rounded-sm hover:text-primary active:text-primary hover:bg-transparent active:bg-transparent cursor-pointer font-outfit;
};

@utility btn-gray {
  @apply bg-gray-200 hover:bg-gray-300 active:bg-gray-300 px-4 py-2 font-jsans cursor-pointer;
}

@utility code {
  @apply bg-dark inline-block text-white rounded-lg p-6 text-sm mb-4;
}

@utility header {
  @apply mb-6 text-xl text-black font-jsans;
}

@utility paragraph {
  @apply mb-6 text-gray-700 font-jsans;
}

@utility ordered-cont {
  @apply mb-6;
}

@utility ordered {
  @apply mb-1 text-gray-700 font-jsans flex-start gap-1;
}

@utility bullet-cont {
  @apply mb-6;
}

@utility bullet-dot {
  @apply h-[6px] w-[6px] bg-gray-700 rounded-full;
}

@utility bullet {
  @apply mb-1 text-gray-700 font-jsans flex-start gap-2;
}

@utility checklist-cont {
  @apply mb-6;
}

@utility checklist-box {
  @apply h-3 w-3 rounded-sm border border-gray-500;
}

@utility checklist {
  @apply flex-start gap-3;
}

@utility render {
  @apply mb-6;
}

@utility nav-text {
  @apply hover:bg-primary hover:text-white hover:border-b-white active:bg-primary active:text-white px-4 font-jsans py-4 text-[12px];
};

@utility home-tab {
  @apply border-accentLight text-accentLight flex-center border-b py-2 px-6 cursor-pointer font-open;
};

@utility home-tab-active {
  @apply border-accent flex-center border-b-2 py-2 px-6 cursor-pointer font-open;
};

.ProseMirror:focus {
	outline: none;
}

.ProseMirror {
  color: rgb(97,96,95);
}

.Toastify__toast {
  font-family: "open";
}

.j {
  color: rgb(26, 25, 25);
}

@theme {
  --color-primary: rgb(20,20,20);
  --color-dark: rgb(26, 25, 25);
  --color-secondary: rgb(238,150,109);
  --color-accent: rgb(97,96,95);
  --color-accentLight: rgb(165, 163, 161);
  --color-text: rgb(116, 114, 113);
  --color-muted: rgb(223, 221, 218);
  --color-mutedLight: rgb(240, 238, 236);
  --font-inter: "inter";
  --font-open: "open";
  --font-exo: "exo";
  --font-outfit: "outfit";
  --font-jsans: "jsans";
  --font-jsl: "jsl";
  --font-outfit-rich: "outfitRich";
  --font-dm: "dmSans";
}