@import "tailwindcss";

@font-face {
  font-family: "inter";
  src: url("./fonts/Inter/static/Inter_18pt-Medium.ttf");
}

@font-face {
  font-family: "exo";
  src: url("./fonts/Exo/static/Exo-Medium.ttf");
}

@font-face {
  font-family: "outfit";
  src: url("./fonts/Outfit/static/Outfit-Regular.ttf");
}

@font-face {
  font-family: "outfitRich";
  src: url("./fonts//Outfit/static/Outfit-Medium.ttf");
}

@utility flex-start {
  @apply flex items-center justify-start;
};

@utility flex-center {
  @apply flex items-center justify-center
};

@utility flex-end {
  @apply flex items-center justify-end
};

@utility flex-between {
  @apply flex items-center justify-between
};

@utility flex-around {
  @apply flex items-center justify-around
};

@utility btn-primary {
  @apply bg-primary py-1 px-3 border-1 border-primary text-white rounded-sm hover:text-primary active:text-primary hover:bg-transparent active:bg-transparent cursor-pointer font-outfit;
};

@utility nav-text {
  @apply hover:bg-primary hover:text-white hover:border-b-white active:bg-primary active:text-white px-3 py-3;
};

@utility home-tab {
  @apply border-accentLight text-accentLight flex-center border-b-1 p-2 cursor-pointer font-inter;
};

@utility home-tab-active {
  @apply border-accent flex-center border-b-2 p-2 cursor-pointer font-inter;
};

.welcome-page {
  background-image: url("./assets/welcome-bg.jpeg");
}

@theme {
  --color-primary: rgb(20,20,20);
  --color-secondary: rgb(238,150,109);
  --color-accent: rgb(97,96,95);
  --color-accentLight: rgb(165, 163, 161);
  --color-text: rgb(116, 114, 113);
  --color-muted: rgb(223, 221, 218);
  --color-mutedLight: rgb(240, 238, 236);
  --font-inter: "inter";
  --font-exo: "exo";
  --font-outfit: "outfit";
  --font-outfit-rich: "outfitRich"
}