<!DOCTYPE html>
<html lang="en">
  <body style="font-family: Arial, sans-serif; background-color: #f4f4f7; padding: 10px; margin: 0;">
    <table width="100%%" cellspacing="0" cellpadding="0" style="max-width: 600px; margin: auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 10px rgba(0,0,0,0.1);">
      <!-- logo -->
      <tr>
        <td style="padding: 20px; display: flex; align-items: center; gap: 10px;">
          <img src="" style="height: 40px">
          <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Clivo</h1>
        </td>
      </tr>

      <tr>
        <td style="padding: 0 30px; color: #333333; font-size: 16px; line-height: 1.6;">
          <p>Good day Habeeb</p>
          <p>A new user recently signed up on Clivo. Below are the user details</p>

          <div style="line-height: 1.5;">
            <p>&#9989; <span style="font-weight: bold;">Name</span> {{ .Name }}</p>
            <p>&#9989; <span style="font-weight: bold;">Email</span> {{ .Email }}</p>
            <p>&#9989; <span style="font-weight: bold;">Username</span> {{ .Username }}</p>
            <p>&#9989; <span style="font-weight: bold;">Interests</span> {{ .Interests }}</p>
          </div>

          <p style="margin-top: 20px;">To view more about this user, click on the button below to visit the user's profile</p>

          <p style="margin: 50px 0;">
            <a href=`{{ .Profile }}` style="background-color: rgb(20,20,20); color: #ffffff; padding: 12px 25px; border-radius: 5px; text-decoration: none; font-weight: bold;">View Profile</a>
          </p>
        </td>
      </tr>

      <tr>
        <td style="background-color: #f1f1f1; padding: 15px; text-align: center; font-size: 14px; color: #888888; line-height: 0;">
          <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">from</p>
          <div style="display: flex; align-items: center; gap: 3px; justify-content: center;">
            <img src="" style="height: 15px">
            <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; font-weight: bold;">Clivo</p>  
          </div>
          <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
            This message was sent to 
            <span style="text-decoration: underline;">habeebamoo08@gmail.com</span>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>